body {
    top: 0;
    left: 0;
    background-color: #669;
}

canvas {
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 10px #111;
    position: absolute;
}

.top {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}

.page {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    background-color: #222;
    box-shadow: 5px 5px 5px #111;
}

img {
    margin-top: 2%;
    box-shadow: 5px 5px 10px #111;
}

h1 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 400%;
    margin: auto;
    text-align: center;
    color: #fff;
    text-shadow: -1px 2px #999;
}

h2 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 300%;
    margin: auto;
    text-align: center;
    color: #fff;
}

p {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 250%;
    margin: auto;
    text-align: left;
    color: #fff;
}

p1 {
    font-family: 'Josefin Slab';
    font-size: 300%;
    margin: auto;
    text-align: left;
    color: #fff;
}

.topnav {
    list-style-type: none;
    font-family: 'Josefin Slab';
}

a {
    text-decoration: none;
}

.topnav a {
    float: none;
    width: 10%;
    transform: translate(350%, 0%);
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 175%;
    line-height: 200%;
    text-decoration: none;
}

.topnav a:hover {
    color: #999;
}

.topnav a.active {
    border-bottom: 20px solid #ccf;
    color: #ccf;
}