body {
    padding-top: 4%;
    background-color: #669;
}

canvas {
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 10px #111;
    position: absolute;
}

.top {
    z-index: 1;
    position: relative;
}

.page {
    width: 70%;
    margin-left: 15%;
    background-color: #669;
    border: 10px outset #77a;
    box-shadow: 5px 5px 10px #111;
}

h1 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 400%;
    margin: auto;
    text-align: center;
}

h2 {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 300%;
    margin: auto;
    text-align: center;
}

p {
    width: 75%;
    font-family: 'Josefin Slab';
    font-size: 250%;
    margin: auto;
    text-align: left;
}